# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Uploaded data
rag-learning-lab/backend/data/uploads/*
!rag-learning-lab/backend/data/uploads/.gitkeep
# OS
.DS_Store
#workspace 
*.code-workspace
**/NUL

